html
    head
        title= title
    body
        h1= message
        form(action="/result/create" method="post")
            input(
                type="text"
                value="BonLyarPpqE"
                name="youtubeId"
                placeholder="BonLyarPpqE"
            )
            button(type="submit") Send
